body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Square grid's styling */
.grid-container {
    display: flex;
    border: 1px solid dimgrey; /* test */
    width: 500px;
    height: 500px;
}

.grid-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid-column .square-box {
    flex: 1;  
}

#grid-size {
    margin-top: 10px;
}